$background: #F7F7EC;
$gray-background: #AAAACC;
$dark-background: #000;
//$dark-background: #E6E2CC;
$dark-foreground: #000;
//$dark-foreground: #E6E2CC;
$default-text: #000;
//$default-text: #0D6500;
$list-bg: #FFF;

$default-font-size: 20px;
$default-line-height: 1.3em;

$slab-background: rgba(255,255,255,0.6);

@mixin default-font() {
  font-family: helvetica, sans-serif;
  font-size: $default-font-size;
  line-height: $default-line-height;
  color: $default-text;
}

#menu-bar {
  background: $default-text;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.45);
  span.user {
    display: inline-block;
    width: 100%;
    vertical-align: middle;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
  }
  a {
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: -4px; // WHY is this needed?!
    span {
      display: block;
      float: left;
      font-size: 0.8em;
    }
    span.icon {
      font-size: 1.9em;
      padding-right: 0.2em;
      //margin-bottom: 0;
      //margin-top: 0.3em;
    }
    &.active, &:hover {
      background: lighten( $default-text, 10% );
    }
  }
}

#carbon-budget {
  position: fixed;
  width: 100%;
  height: 25%;
  bottom: 0px;
  left: 0px;
  border-top: 2px solid white;
  //background: $dark-foreground;
  background: rgba(255,255,255,0.5);
}

.level-progress {
  padding: 1em 1.2em;
  padding-bottom: 0;
}

#budget-spacer {
  padding-bottom: 35%;
  display: block;
  //border: 1px solid blue;
}

.budget-numbers {
  //position: absolute;
  display: inline-block;
  position: relative;
  width: auto;
  //height: 50%;
  //border: 1px solid red;
  top: 10px;
  left: 10px;
  font-size: 7em;
  line-height: 1em;
  color: red;

  .budget-numbers-explanation {
    position: absolute;
    right: -7em;
    width: 6em;
    top: 0.7em;
    @include default-font();
    //font-size: 5em;
  }
}

.list-item {
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.01);
  }
  td {
    border-bottom: 3px solid $background;
    padding: 10px;
    background: $slab-background;
  }
}

.read-list-item {
  cursor: pointer;
  transition: all .2s ease-in-out;
  &:hover {
    transform: scale(1.01);
  }
  td {
    border-bottom: 3px solid $background;
    padding: 10px;
    background: $gray-background;
  }
}

.icon {
  font-size: 170%;
  //border-bottom: none;
}

td.icon {
  padding-left: 0.5em;
}

.co2-icon {
  font-size: 80%;
  margin-right: 0.3em;
}

html {
  height: 100%;
}

body {
  //background-color: $background;
  //background: asset-data-url('smog-city-istock');
  background-repeat: no-repeat;
  background-size: cover;
  //background-size: auto 100%;
  background-attachment: fixed;
  @include default-font();
  margin: 33px;
  margin-top: 120px;
  height: 100%;
}

h1 {
  margin-top: 0px;
}

p, ol, ul, td {
  @include default-font();
  //margin: 33px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;
  text-decoration: none;

  &:visited {
    color: #666;
  }

  &:hover {
    //color: #fff;
    //background-color: #000;
  }
}

table {
  border-collapse: collapse;

  border-spacing: 5px;
  width: 100%;
}

th {
  padding-bottom: 5px;
}

tr {
  margin-top: 2px;
}

td {
}

@media screen and (max-width: 1024px) {
  .extra_column {
    //border: 1px solid red;
    display: none;
  }
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    margin-bottom: 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}
